.testimonial .items{
    padding: 30px;
    transition: .5s;
    border-radius: 10px;
  
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.testimonial .img{
    position: relative;
    
}
.testimonial i{
    position: absolute;
    bottom: 0;
   left:60px;
   background-color: #1ae2b6;
   color: #fff;
}

.testimonial .name{
    margin: 25px;
}

.testimonial .name h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.testimonial .name span{
    color: #1ae2b6;
}

.testimonial p{
    margin-top: 20px;
    color: grey;
    transition: .5s;
}

.testimonial .items:hover{
    background-color: #1ae2b6;
    color: #fff;
    cursor: pointer;
}
.testimonial .items:hover p,
.testimonial .items:hover span{
    color: #fff;
}

.testimonial .items:hover i{
    background-color: #fff;
    color: #1ae2b6;
}